menu "DMX Configuration"

    config DMX_ISR_IN_IRAM
        bool "Place DMX ISR functions in IRAM"
        default n
        help
            The ISR of the DMX driver can be placed in IRAM so that it can work 
            without the flash when an interrupt is triggered. If this option is
            disabled, DMX interrupts may take extra time when accessing flash 
            memory.
    
endmenu

menu "RDM Configuration"

    config RDM_DEBUG_DEVICE_DISCOVERY
        bool "Enable debugging for RDM device discovery"
        default n
        help
            Enabling this option can help to find bugs within the RDM discovery
            algorithm, but it can make the discovery process take significantly
            longer.

    config RDM_STATIC_DEVICE_DISCOVERY
        bool "Enable static memory use for RDM device discovery"
        default n
        help
            In some situations, RDM device discovery can take several kilobytes
            of memory to execute. This is more stack space than the ESP32 main
            task has by default. When this option is enabled, RDM device 
            discovery does not allocate any more memory before its search. Use
            caution when enabling this option as it can lead to stack overflows!

endmenu
